In [1]:
a='vivek'

In [2]:
l=[1,2,3,4,'vivek',True,34.65]

In [3]:
b=45.66

In [4]:
c = ("apple", "banana", "cherry")

In [5]:
#string data type

In [6]:
#invalid variable

In [7]:
#list

In [9]:
#int

In [10]:
#/ finds the floating division value. for example 4/5 will give 0.8

In [11]:
#% finds the remainder of the division .for example 7%4 will give 3

In [12]:
#// gives integer division value.for example 7//4 will give 1

In [13]:
# ** gives any number raised to another number.for example 2**3 will give 8

In [14]:
m=[1,2,3,4,5,'vivek',True,False,45.76,4+5j]
for i in m:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
vivek
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>
45.76
<class 'float'>
(4+5j)
<class 'complex'>

In [22]:
A=int(input())
B=int(input())
rem=A%B
count=0
while rem==0:
    count=count+1
    A=A/B
    rem=A%B
if count>0:
    print("number is divisible and number of times it is divisible is ")
    print(count)
else:
    print("number is not divisible")

 20
 5

number is divisible and number of times it is divisible is
1

In [18]:
n=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in n:
    print(i)
    if i%3==0:
        print("number is divisible by 3")
    else:
        print("number is not divisible by 3")

1
number is not divisible by 3
2
number is not divisible by 3
3
number is divisible by 3
4
number is not divisible by 3
5
number is not divisible by 3
6
number is divisible by 3
7
number is not divisible by 3
8
number is not divisible by 3
9
number is divisible by 3
10
number is not divisible by 3
11
number is not divisible by 3
12
number is divisible by 3
13
number is not divisible by 3
14
number is not divisible by 3
15
number is divisible by 3
16
number is not divisible by 3
17
number is not divisible by 3
18
number is divisible by 3
19
number is not divisible by 3
20
number is not divisible by 3
21
number is divisible by 3
22
number is not divisible by 3
23
number is not divisible by 3
24
number is divisible by 3
25
number is not divisible by 3

In [ ]:
#mutable data types are those data types in which changes can be made by not creating a new object
#that is by not changing its identity.for example lists thata allow you to make changes by replacing its items
#if l=[1,2,3,4,5] and i make l[0]=6 then l will become[6,2,3,4,5]
#On the other hand immmutable data types do not allow changes in themselves until a new object is created that is 
#its identity has to be changed in order to make changes.for example strings.In strings suppose